// @use "reboot";

h1 {
  //   color: midnightblue;
  //   color: forestgreen;
  //   color: floralwhite;
  color: rosybrown;
}

.sidebar {
  background-color: antiquewhite;
  color: cornflowerblue;
  width: 15rem;
  padding: 1rem;
}
